- model = entity.class.name.underscore
%details.idc-panel.clinical-investigations
  %summary #{t :clinical_simple_investigations}
  .full-width
    = f.fields_for :clinical_investigations do |investigation_form|
      = render "fat_free_crm/index_cases/clinical_investigation_fields", f: investigation_form #, entity: entity
  #new_investigation
    = link_to_add_fields "#{t :new_investigation}", f, :clinical_investigations

:javascript
  var myInvestigationContactFunc = function func(element){
    var new_date = new Date();
    if ( myInvestigationContactFunc.last_call && (myInvestigationContactFunc.last_call - new_date) > 0) return true;
    myInvestigationContactFunc.last_call = new Date(new_date.getTime() + 300);
    event.preventDefault();
    var time = new_date.getTime();
    var regexp = new RegExp(element.data('id'), 'g');
    element.before(element.data('fields').replace(regexp, time));
    var elements = element.siblings('div#index-case-investigation').find('.contact-field input[type="text"]').toArray();
    loadContactFields(elements);
    return false;
  };

  $(document).on("click",'.clinical-investigations .add_fields',function(event) {
    myInvestigationContactFunc($(this));
  });
