- model = entity.class.name.underscore
%details.idc-panel.index-case_investigations
  %summary #{t :clinical_simple_investigations}
  #contact_extra_intro.full-width
    = f.fields_for :clinical_investigations do |investigation_form|
      = render "fat_free_crm/index_cases/clinical_investigation", investigation_form: investigation_form #, entity: entity

  #new_investigation
    = link_to("#{t :new_investigation}", new_investigation_index_case_path(entity), remote: true, class: 'mt-3 btn btn-primary')
