/ - model = entity.class.name.underscore
/ = investigation_form.hidden_field :_destroy
= investigation_form.hidden_field :id, value: investigation_form.object&.id
.idc-form-group#index-case-investigation
  / .form-group.one-quarter
  / %label #{t :status}:
  / =# investigation_form.select(:status, options_for_select(Setting.unroll(:investigation_statuses), investigation_form.object.status), {}, class: 'form-control')
  .form-group.one-quarter
    .label #{t :interview_at}:
    .form-control.border-0.bg-white
      = datetime_field_tag('clinical_investigation[interview_at]', nil, {autocomplete: :off, required: true, class: 'date form-control'})
  .form-group.one-quarter.contact-representative-field
    %label #{t :contact_representative}:
    .form-control.border-0.bg-white
      = text_field_tag(:contact_representative, investigation_form.object&.contact_representative&.full_name, class: 'form-control')
      = investigation_form.hidden_field(:contact_representative_id)
  .form-group.one-quarter.health-care-provider-field
    %label #{t :health_care_provider}:
    .form-control.border-0.bg-white
      = text_field_tag(:health_care_provider, investigation_form.object&.health_care_provider&.full_name, class: 'form-control')
      = investigation_form.hidden_field(:health_care_provider_id)
  .form-group.one-quarter
    .label #{t :mtb_projected_return_date}:
    .form-control.border-0.bg-white
      = date_field_tag(:projected_return_date, class: 'form-control')
  .form-group.one-quarter
    .label #{t :health_event}:
    .form-check
      = radio_button_tag("clinical_investigation[health_event]", 'hcp_consult_event', { class: 'form-check-input' })
      = label_tag("clinical_investigation[hcp_consult_event]", t(:hcp_consult_event), { style: "cursor:pointer", class: 'form-check-label' })
    .form-check
      = radio_button_tag("clinical_investigation[health_event]", 'hospitalized_event', {class: 'form-check-input'})
      = label_tag("clinical_investigation[hospitalized_event]", t(:hospitalized_event), { style: "cursor:pointer", class: 'form-check-label' })
    .form-check
      = radio_button_tag("clinical_investigation[health_event]", 'emergency_room_event', {class: 'form-check-input'})
      = label_tag("clinical_investigation[emergency_room_event]", t(:emergency_room_event), { style: "cursor:pointer", class: 'form-check-label' })
    .form-check
      = radio_button_tag("clinical_investigation[health_event]", 'death_event', {class: 'form-check-input'})
      = label_tag("clinical_investigation[death_event]", t(:death_event), { style: "cursor:pointer", class: 'form-check-label' })
    .form-check
      = radio_button_tag("clinical_investigation[health_event]", 'none_of_the_above', {class: 'form-check-input'})
      = label_tag("clinical_investigation[none_of_the_above]", t(:none_of_the_above), { style: "cursor:pointer", class: 'form-check-label' })
  .form-group.one-quarter
    .label #{t :event_on}:
    .form-control.border-0.bg-white
      = investigation_form.date_field(:event_on, class: 'form-control')
  .one-sixth.shove-down
    = link_to_function raw("<i class='fa fa-2x fa-trash'></i>"), "deleteInvestigation(this)"

:javascript
  function deleteInvestigation(el) {
    text = "Are you sure you wish to delete this investigation?"
    response = confirm(text)
    if (response == true) {
      hidden_input_id = el.closest('.idc-form-group').querySelector('input[type="text"]').id.replace('item', '_destroy');
      el.closest('.idc-form-group').parentNode.querySelector('input[id="' + hidden_input_id + '"]').value = true;
      el.closest('.idc-form-group').remove();
    }
  }