- model = entity.class.name.underscore
%details.idc-panel.index-case_investigations
  %summary #{t :clinical_simple_investigations}
  .full-width
    = f.fields_for :clinical_investigations do |investigation_form|
      = render "fat_free_crm/index_cases/clinical_investigation_fields", f: investigation_form #, entity: entity

  #new_investigation
    = link_to_add_fields "#{t :new_investigation}", f, :clinical_investigations

:javascript
  $(document).on("click",'form .add_fields',function(event) {
    event.preventDefault();
    var time = new Date().getTime();
  	var regexp = new RegExp($(this).data('id'), 'g');
  	$(this).before($(this).data('fields').replace(regexp, time));
  });