- if f.object.persisted?
  = f.hidden_field :_destroy
  = f.hidden_field :id, value: f.object&.id
.card.mt-3#facility-exposure-details
  .card-header
    #{t :facility_exposure_case}
  .idc-form-group.card-body
    .form-group.one-quarter.facility-field
      %label #{t :facility_name}:
      = f.text_field(:facility, required: true, class: 'form-control', value: f.object.facility&.name)
      = f.hidden_field(:facility_id)
    = f.fields_for(:facility_exposure_detail, f.object.facility_exposure_detail || FatFreeCrm::Exposures::ContactSimpleExposure.new) do |exposure_detail_form|
      .form-group.one-quarter
        %label #{t :exposure_started_at}:
        = exposure_detail_form.datetime_field(:exposure_started_at, autocomplete: :off, required: true, class: 'date form-control')
      .form-group.one-quarter
        %label #{t :exposure_ended_at}:
        = exposure_detail_form.datetime_field(:exposure_ended_at, autocomplete: :off, required: true, class: 'date form-control')
    - if f.object.persisted?
      .one-quarter.shove-down
        = link_to_function raw("<i class='fa fa-2x fa-trash'></i>"), "deleteExposure(this)"
    - if !f.object.persisted?
      .one-sixth.shove-down
        = link_to_function(raw("<i class='fa fa-2x fa-trash'></i>"), "this.closest('#facility-exposure-details').remove()")

:javascript
  function deleteExposure(el) {
    text = "Are you sure you wish to delete this exposure?";
    response = confirm(text);
    if (response == true) {
      f_hidden_input_id = el.closest('#facility-exposure-details').querySelector('input[type="datetime-local"]').id.replace('facility_exposure_detail_attributes_exposure_started_at', '_destroy');
      el.closest('#facility-exposure-details').parentNode.querySelector('input[id="' + f_hidden_input_id + '"]').value = true;
      el.closest('#facility-exposure-details').remove();
    }
  }