- name_attribute = "index_case[clinical_investigations_attributes][#{Time.now.to_i}]"

.idc-form-group#index-case-investigation
  .form-group.one-quarter
    %label #{t :interview_at}:
    .form-control.border-0.bg-white
      = datetime_field_tag('index_case[clinical_investigation][interview_at]', nil, {autocomplete: :off, required: true, class: 'date form-control'})
  .form-group.one-quarter.contact-representative-field
    %label #{t :contact_representative}:
    .form-control.border-0.bg-white
      = text_field_tag('index_case[clinical_investigation][contact_representative]', nil, class: 'form-control')
  .form-group.one-quarter.health-care-provider-field
    %label #{t :health_care_provider}:
    .form-control.border-0.bg-white
      = text_field_tag('index_case[clinical_investigation][health_care_provider_contact]', nil, class: 'form-control')
  .form-group.one-quarter
    %label #{t :mtb_projected_return_date}:
    .form-control.border-0.bg-white
      = date_field_tag('index_case[clinical_investigation][projected_return_date]', nil, {autocomplete: :off, required: true, class: 'date form-control'})
  .form-group.one-quarter
    .label #{t :health_event}:
    .form-check
      = radio_button_tag("index_case[clinical_investigation][health_event]", 'hcp_consult_event', { class: 'form-check-input' })
      = label_tag("index_case[clinical_investigation][hcp_consult_event]", t(:hcp_consult_event), { style: "cursor:pointer", class: 'form-check-label' })
    .form-check
      = radio_button_tag("index_case[clinical_investigation][health_event]", 'hospitalized_event', {class: 'form-check-input'})
      = label_tag("index_case[clinical_investigation][hospitalized_event]", t(:hospitalized_event), { style: "cursor:pointer", class: 'form-check-label' })
    .form-check
      = radio_button_tag("index_case[clinical_investigation][health_event]", 'emergency_room_event', {class: 'form-check-input'})
      = label_tag("index_case[clinical_investigation][emergency_room_event]", t(:emergency_room_event), { style: "cursor:pointer", class: 'form-check-label' })
    .form-check
      = radio_button_tag("index_case[clinical_investigation][health_event]", 'death_event', {class: 'form-check-input'})
      = label_tag("index_case[clinical_investigation][death_event]", t(:death_event), { style: "cursor:pointer", class: 'form-check-label' })
    .form-check
      = radio_button_tag("index_case[clinical_investigation][health_event]", 'none_of_the_above', {class: 'form-check-input'})
      = label_tag("index_case[clinical_investigation][none_of_the_above]", t(:none_of_the_above), { style: "cursor:pointer", class: 'form-check-label' })
  .form-group.one-quarter
    %label #{t :event_on}:
    .form-control.border-0.bg-white
      = date_field_tag('index_case[clinical_investigation][event_on]', nil, {autocomplete: :off, required: true, class: 'date form-control'})
  .one-sixth.shove-down
    = link_to_function(raw("<i class='fa fa-2x fa-trash'></i>"), "this.closest('.idc-form-group').remove()")