= hook(:index_case_top_section, self, f: f) do
  .idc-panel
    .full-width
      %h3
        = @index_case.contact.full_name
    .form-group.one-quarter
      %label #{t :phone}:
      .form-control
        = formatted_phone_number(@index_case.contact.phone)
    .form-group.one-half
      %label #{t :email}:
      .form-control
        = @index_case.contact.email
    .form-group.one-quarter
      %label #{t :case_number}:
      .form-control
        = @index_case.case_number
    .form-group.one-quarter
      %label #{t :interview_at}:
      #interview-at
        = datetime_field_tag('index_case[index_case_investigation][interview_at]', (@index_case.index_case_investigation&.interview_at || Time.now).strftime('%Y-%m-%dT%T'), {autocomplete: :off, required: true, class: 'date form-control'})
    .form-group.one-quarter
      %label #{t :symptom_onset_at}:
      #symptom-onset-at
        = datetime_field_tag("index_case[index_case_investigation][onset_of_symptoms]", @index_case.index_case_investigation&.onset_of_symptoms&.strftime('%Y-%m-%dT%T'), autocomplete: :off, required: true, class: 'date form-control')
    .form-group.one-half
    .form-group.one-quarter
      %label #{t :isolation_period_start_at}:
      #isolation-period-start
        = datetime_field_tag("index_case[index_case_investigation][isolation_period_start_at]", @index_case.index_case_investigation&.isolation_period_start_at&.strftime('%Y-%m-%dT%T'), autocomplete: :off, required: true, class: 'date form-control')
    .form-group.one-quarter
      %label #{t :isolation_period_end_at}:
      #isolation-period-end
        = datetime_field_tag("index_case[index_case_investigation][isolation_period_end_at]", @index_case.index_case_investigation&.isolation_period_end_at&.strftime('%Y-%m-%dT%T'), autocomplete: :off, readonly: :true, class: 'date form-control')
    .form-group.one-quarter
      %label #{t :infectious_period_start_at}:
      #infectious-period-start
        = datetime_field_tag("index_case[index_case_investigation][infectious_period_start_at]", @index_case.index_case_investigation&.infectious_period_start_at&.strftime('%Y-%m-%dT%T'), autocomplete: :off, readonly: :true, class: 'date form-control')
    .form-group.one-quarter
      %label #{t :infectious_period_end_at}:
      #infectious-period-end
        = datetime_field_tag("index_case[index_case_investigation][infectious_period_end_at]", @index_case.index_case_investigation&.infectious_period_end_at&.strftime('%Y-%m-%dT%T'), autocomplete: :off, readonly: :true, class: 'date form-control')
    .form-group.one-quarter
      %label #{t :absence_begin_date}:
      #absence-begin-date
        = datetime_field_tag(:absence_begin_date, nil, class: 'form-control')
    .form-group.one-quarter
      %label #{t :mtb_projected_return_date}:
      #projected-return-date
        = date_field_tag("index_case[projected_return_date]", @index_case.projected_return_date&.strftime('%Y-%m-%d'), class: 'form-control')
    .form-group.one-quarter
      %label #{t :self_isolate}:
      = collection_radio_buttons('index_case[index_case_investigation]', 'self_isolate',  [[:can_self_isolate], [:need_assistance_to_self_isolate]], :first, :first) do |b|
        .form-check
          = b.label(:"data-value" => b.value, class: 'form-check-label') { b.radio_button(checked: (@index_case.index_case_investigation&.self_isolate == b.value), class: 'form-check-input') + t(b.text) }
    .form-group.one-quarter
      %label #{t :is_work_related?}:
      = select_tag("index_case[index_case_investigation][work_related]", options_for_select(FatFreeCrm::IndexCase.work_relateds.map { |(w)| [w.humanize, w] }, @index_case.index_case_investigation.work_related), {:class => "form-control"})
    .form-group.one-half
      %label #{t :how_virus_contracted}
      = text_area_tag("index_case[index_case_investigation][how_virus_contracted]", @index_case.index_case_investigation&.how_virus_contracted, placeholder: 'Enter how virus contracted', class: 'form-control')
    = hook(:index_case_top_section_bottom, self, f: f)
