- entities = controller.controller_name # index_cases
- @entities = instance_variable_get("@#{entities}")

$('##{entities}').html('#{ j render(@entities) }');

$('#paginate').html('#{ j render(partial: "fat_free_crm/shared/paginate_with_per_page") }');
$('#export').html('#{ j render(partial: "fat_free_crm/shared/export") }');
$('#search_results_count').html('#{ j render(plain: t('search_results_count', count: @search_results_count)) }');
