= hook(:facility_case_top_section, self, f: f) do
  .idc-panel
    .full-width
      %h3
        = @facility_case.facility&.name
    .form-group.one-quarter
      %label #{t :case_number}:
      .form-control
        = @facility_case.case_number
    = f.fields_for(:facility_case_investigation, f.object.facility_case_investigation || FatFreeCrm::Investigations::FacilityCaseSimpleInvestigation.new) do |form|
      .form-group.one-quarter.contact-field
        %label #{t :reported_by}:
        = form.text_field(:contact_representative, required: false, class: 'form-control', value: form.object.contact_representative&.full_name)
        = form.hidden_field(:contact_representative_id)
      .form-group.one-quarter
        %label #{t :reported_at}:
        #interview-at
          = datetime_field_tag('facility_case[facility_case_investigation_attributes][interview_at]', (@facility_case&.facility_case_investigation&.interview_at || Time.now).strftime('%Y-%m-%dT%T'), {autocomplete: :off, required: true, class: 'date form-control'})
      .form-group.one-quarter
        %label #{t :case_reference}:
        = form.text_field(:case_reference, required: false, class: 'form-control')

    = f.fields_for(:facility_facility_case) do |form|
      = form.fields_for(:facility_exposure_detail, form.object.facility_exposure_detail ||  FatFreeCrm::Exposures::FacilitySimpleExposure.new) do |exposure_form|
        .form-group.one-quarter
          %label #{t :exposure_started_at}:
          = exposure_form.datetime_field(:exposure_started_at, autocomplete: :off, required: true, class: 'date form-control')
        .form-group.one-quarter
          %label #{t :exposure_ended_at}:
          = exposure_form.datetime_field(:exposure_ended_at, autocomplete: :off, required: true, class: 'date form-control')

    = hook(:facility_case_top_section_bottom, self, f: f)