= styles_for :facility_case

.space-between.page-heading
  .title
    %h1{id: "create_facility_case_title"} #{t controller_name.to_sym}

= render 'fat_free_crm/shared/search'

.remote#options{ hidden }

%ul.list#facility_cases
  - if @facility_cases.any?
    = render @facility_cases
  - else
    = render "fat_free_crm/shared/empty"

#paginate= render "fat_free_crm/shared/paginate_with_per_page"
#export= render "fat_free_crm/shared/export"
