- model = entity.class.name.underscore
- facilities = entity.account&.facilities&.length > 0 ? entity.account&.facilities&.sort_by(&:name) : FatFreeCrm::Facility.all.facilities.sort_by(&:name)
= f.hidden_field :_destroy
= f.hidden_field :id, value: f.object.id
= f.hidden_field :account_id, value: entity.account&.id
.idc-form-group.contact_assignment
  .form-group.one-quarter
    %label #{t :start_on}:
    = f.date_field(:start_on, class: 'form-control')
  .form-group.one-quarter
    %label #{t :end_on}:
    = f.date_field(:end_on, class: 'form-control')
  .form-group.one-quarter
    %label #{t :facility}:
    = f.select(:facility_id, options_from_collection_for_select(facilities, 'id', 'name', f.object.facility_id), {include_blank: true}, {class: 'form-control facility-select'})
  .form-group.one-sixth{class: ("d-none" unless f.object.level_id)}
    %label #{t :level}:
    = f.select(:level_id, options_from_collection_for_select(f.object.facility.levels, 'id', 'name', f.object.level_id), {}, class: 'form-control')
  .form-group
    = link_to_function raw("<i class='fa fa-2x fa-trash'></i>"), "deleteAssignment(this)"

:javascript
  function deleteAssignment(el) {
    text = "Are you sure you wish to delete this assignment?"
    response = confirm(text)
    if (response == true) {
      hidden_input_id = el.closest('.idc-form-group').querySelector('input[type="date"]').id.replace('start_on', '_destroy');
      el.closest('.idc-form-group').parentNode.querySelector('input[id="' + hidden_input_id + '"]').value = true;
      el.closest('.idc-form-group').remove();
    }
  }
