- if f.object&.persisted?
  = f.hidden_field :_destroy
  = f.hidden_field :id, value: f.object&.id
.card.mt-3#exposure-case-clinical-investigation
  .card-body.idc-form-group
    .form-group.one-quarter
      %label #{t :interview_at}:
      = f.datetime_field(:interview_at, {autocomplete: :off, required: true, value:(f.object&.interview_at || Time.now).strftime('%Y-%m-%dT%T'), class: 'date form-control'})
    .form-group.one-half.contact-select-create
      = contact_select_or_create(f, label_name: :contact_representative, attribute_name: :contact_representative,  selected_value: f.object&.contact_representative&.full_name)
    .form-group.one-quarter
      %label #{t :contact_representative_relationship}:
      = f.select(:contact_representative_relationship_kind, options_for_select(CovidMostRegistry[:contact_relationship].item, f.object&.contact_representative_relationship_kind), {prompt: 'Select Relationship'}, class: 'form-control')
    .form-group.one-quarter
      %label #{t :mtb_projected_return_date}:
      = f.date_field(:projected_return_date, class: 'form-control')
    .form-group.one-half.contact-select-create
      = contact_select_or_create(f, label_name: :health_care_provider_contact, attribute_name: :health_care_provider_contact, selected_value: f.object&.health_care_provider_contact&.full_name)
    .form-group.one-quarter
      %label #{t :health_event}:
      = f.collection_radio_buttons(:health_event, [[:hcp_consult_event], [:hospitalized_event],[:emergency_room_event],[:death_event],[:none_of_the_above]], :first, :first) do |b|
        .form-check
          = b.label(:"data-value" => b.value, style: "cursor:pointer", class: 'form-check-label') { b.radio_button(checked: (f.object&.health_event == b.value), class: 'form-check-input') + t(b.text) }
    .form-group.one-quarter
      %label #{t :event_on}:
      = f.date_field(:event_on, class: 'form-control')
    - if f.object&.persisted?
      .form-group.one-sixth.shove-down
        = link_to_function raw("<i class='fa fa-2x fa-trash'></i>"), "deleteClinicalInvestigation(this)"
    - if !f.object&.persisted?
      .one-sixth.shove-down
        = link_to_function(raw("<i class='fa fa-2x fa-trash'></i>"), "this.closest('#exposure-case-clinical-investigation').remove()")
