- model = entity.class.name.underscore
%details.idc-panel.contact-case
  %summary #{t :case_history}
  - @contact.index_cases.order("created_at DESC").each do |index_case|
    .card.mt-3
      .card-body.idc-form-group
        .label-value-group.one-sixth
          %div #{t :case_no}
          %div 
            = index_case.case_number
        .label-value-group.one-sixth
          %div #{t :case_type}
          = link_to((t :index_case), index_case_path(index_case))
        .label-value-group.one-sixth
          %div #{t :work_related?}
          %div
            = index_case.index_case_investigation&.work_related.to_s.humanize
        .label-value-group.one-sixth
          %div #{t :status}
          - event = index_case.clinical_investigations.last&.health_event&.to_sym
          - if event.present?
            %div #{t :"#{index_case.clinical_investigations.last&.health_event}"}
        .label-value-group.one-quarter
          %div #{t :Projected_days_away_from_work}
          - if index_case.projected_return_date.present?
            %div
              = away_from_work_days(index_case)
        .form-group.one-column.shove-down
          = link_to("#{t :view}", index_case_path(index_case), class: 'btn btn-primary')
  - @contact.exposure_cases.each do |exposure_case|
    .card.mt-3
      .card-body.idc-form-group
        .label-value-group.one-sixth
          %div #{t :case_no}
          %div 
            = exposure_case.case_number
        .label-value-group.one-sixth
          %div #{t :case_type}
          %div #{t :exposure_case}
        .label-value-group.one-sixth
          %div #{t :work_related?}
          %div
            = exposure_case.exposure_case_investigation&.work_related.to_s.humanize
        .label-value-group.one-sixth
          %div #{t :status}
          %div
            = t(exposure_case.clinical_investigations.last&.health_event&.to_sym)
        .label-value-group.one-quarter
          %div #{t :Projected_days_away_from_work}
          %div 
        .form-group.one-column.shove-down
          %button.btn.btn-primary{id: "exposureCaseEditButton"  ,"data-target" => "#edit-exposure-case-form_#{exposure_case.id}", "data-toggle" => "collapse", type: "button"}
            #{t :edit}
      %div.collapse.navbar-collapse{id: "edit-exposure-case-form_#{exposure_case.id}"}
        = f.fields_for(:exposure_cases, exposure_case) do |exposure_case_form|
          = render "fat_free_crm/contacts/exposure_case_investigation", f: exposure_case_form, exposure_case: exposure_case, contact: entity

