- model = entity.class.name.underscore
%details.idc-panel.contact-case
  %summary #{t :case_history}
  - @contact.index_cases.order("created_at DESC").each do |index_case|
    .card.mt-3
      .card-body.idc-form-group
        .label-value-group.one-sixth
          %div #{t :case_no}
          %div 
            = index_case.case_number
        .label-value-group.one-sixth
          %div #{t :case_type}
          = link_to((t :index_case), index_case_path(index_case))
        .label-value-group.one-sixth
          %div #{t :work_related?}
          %div
            = index_case.index_case_investigation&.work_related
        .label-value-group.one-sixth
          %div #{t :status}
          %div
            = index_case.clinical_investigations.last&.health_event
        .label-value-group.one-quarter
          %div #{t :Projected_days_away_from_work}
          %div
  - @contact.exposure_cases.each do |exposure_case|
    .card.mt-3
      .card-body.idc-form-group
        .label-value-group.one-sixth
          %div #{t :case_no}
          %div 
            = exposure_case.case_number
        .label-value-group.one-sixth
          %div #{t :case_type}
          %div #{t :exposure_case}
        .label-value-group.one-sixth
          %div #{t :work_related?}
          %div
            = exposure_case.exposure_case_investigation&.work_related
        .label-value-group.one-sixth
          %div #{t :status}
          %div
            = exposure_case.clinical_investigations.last&.health_event
        .label-value-group.one-quarter
          %div #{t :Projected_days_away_from_work}
          %div 


