.remote
  = form_for(@contact, url: exposed_contact_path(@contact), html: one_submit_only, remote: true) do |f|
    = link_to_close expose_contact_path(@contact)
    .idc-panel
      .full-width
        %h3
          = @contact.full_name
      .form-group.one-quarter
        %label #{t :phone}:
        .form-control
          = @contact.phone
      .form-group.one-third
        %label #{t :email}:
        .form-control
          = @contact.email
      = fields_for(:cases) do |c|
        .form-group.one-half
          .label #{t :case_type}
          = select_tag(:case_type, options_for_select(Setting.unroll(:case_type), selected: "tested_positive"), { class: 'form-control' })
        #tested-positive.idc-panel.full-width.nested
          .form-group.one-third
            .label #{t :notified_at}:
            = datetime_field_tag(:notified_at, nil, autocomplete: :off, required: true, class: 'date form-control', id: 'notified-at')
          .form-group.one-sixth 
            .label #{t :self_notified}:
            = check_box_tag("self_notified", true, true, class: 'form-control form-control-sm')
          #notifying-contact-details.hidden
            .form-group.one-quarter{id: "contact_#{time}"}
              .label #{t :notifying_contact}:
              = text_field_tag(:notifying_contact, nil, required: false, class: 'form-control')
              = hidden_field_tag(:notifying_contact_id)
            .form-group.one-quarter
              .label #{t :notifying_contact_relationship_kind}:
              = select_tag(:notifying_contact_relationship, options_for_select(CovidMostRegistry[:contact_relationship].item), { prompt: 'Select Relationship', class: 'form-control'})
      .buttonbar.full-width
        = f.submit t(:save_case), :class => 'btn btn-primary'
        = link_to_cancel expose_contact_path(@contact), :class => 'btn btn-link'

= javascript_include_tag("awesomplete")
= stylesheet_link_tag("awesomplete")
