.remote
  = form_for(@contact, url: exposed_contact_path(@contact), html: one_submit_only, remote: true) do |f|
    = link_to_close expose_contact_path(@contact)
    .idc-panel
      .full-width
        %h3
          = @contact.full_name
      .form-group.one-quarter
        %label #{t :phone}:
        .form-control
          = formatted_phone_number(@contact.phone)
      .form-group.one-third
        %label #{t :email}:
        .form-control
          = @contact.email
      = fields_for(:cases) do |c|
        .form-group.one-third
        .form-group.one-third
          %label #{t :case_type}
          = c.select(:case_type, Setting.unroll(:case_type), { selected: "tested_positive" }, class: 'form-control' )
        #tested-positive.idc-panel.full-width.nested
          .form-group.one-third
            %label #{t :notified_at}:
            = c.datetime_field(:notified_at, autocomplete: :off, required: true, class: 'date form-control', id: 'notified-at')
          .form-group.one-sixth 
            %label #{t :self_notified}:
            = c.check_box(:self_notified, {class: 'form-control form-control-xs', id: "self_notified", checked: true}, 'true', 'false')
          #notifying-contact-details.hidden
            .form-group.one-half.contact-select-create
              = contact_select_or_create(c, label_name: :notifying_contact, attribute_name: :notifying_contact)
            .form-group.one-quarter
              %label #{t :notifying_contact_relationship_kind}:
              = c.select(:notifying_contact_relationship, CovidMostRegistry[:contact_relationship].item.values, { prompt: 'Select Relationship' }, class: 'form-control')
      .buttonbar.full-width
        = f.submit t(:save_case), :class => 'btn btn-primary'
        = link_to_cancel expose_contact_path(@contact), :class => 'btn btn-link'

= javascript_include_tag("awesomplete")
= stylesheet_link_tag("awesomplete")
